extends ../../layouts/default.pug
block main
  .checkout
    .container.my-3
      .row
        .col-7.info 
          div(class="order-review bg-white rounded p-15 mb-10")
            div(class="entry-order-review mb-0 ")
              h4(class="title-checkout color-black")
                b Thông tin khách hàng
              div(class="account-detail")  
                .container
                  .row
                    .col-lg-8.col-12     
                      .form-group.validate-form
                        input(type="text" class="input-hover bg-white border form-control " name="full_name" placeholder="Họ và tên" value=user?user.fullname:'')
                        lable(id="full_name-error" class="error invalid-feedback1" for="full_name") Vui lòng nhập họ tên
                    div(class="col-lg-4 col-12")
                      .form-group.validate-form
                        input(class="input-hover bg-white border form-control " name="phone" value=user?user.phone:'' type="text" placeholder="Số điện thoại")
                        lable(id="phone-error" class="error invalid-feedback1" for="phone") Vui lòng nhập số điện thoại
                        lable(id="phone-error-format" class="error invalid-feedback1" for="phone" ) Số điện thoại ko đúng định dạng

                  .row  
                    .col-lg-6.col-12.mb-3
                      select(id='provinces' class="form-control" name="provinces")
                        option(value='') -- Tỉnh thành --
                      lable(id="provinces-error" class="error invalid-feedback1" for="provinces") Vui lòng chọn tỉnh, thành

                    .col-lg-6.col-12.mb-3
                      select(id='districts' class="form-control" name="districts")
                        option(value='') -- Quận huyện --
                      lable(id="districts-error" class="error invalid-feedback1" for="districts") Vui lòng chọn quận, huyện
                    .col-lg-6.col-12
                      select(id='wards' class="form-control" name="wards")
                        option(value='') -- Phường xã --
                      lable(id="wards-error" class="error invalid-feedback1" for="districts") Vui lòng chọn phường, xã
                    .col-lg-6.col-12
                      input(class="input-hover bg-white border form-control " name="address" value=user?user.address:'' type="text" placeholder="Số nhà,ngõ,đường")
                      lable(id="address-error" class="error invalid-feedback1" for="address") Vui lòng địa chỉ
          .row.mt-3
            .col-12
              div(class="delivery-methods bg-white rounded p-15 mb-10")
                h4(class="title-checkout color-black mb-3")
                  b Phương thức giao hàng
                .row
                  .col-4
                    .form-check.mb-2
                      input(type="radio" id="economy-delivery" name="delivery-method" value="20.000" class="form-check-input" checked )
                      label(for="economy-delivery" class="mt-2") Giao hàng tiết kiệm
                        div(class="delivery-content")
                          span(class="text-date") 40-50 phút
                          span(class="text-price") 20.000đ
                  .col-4
                    .form-check.mb-2
                      input(type="radio" id="standard-delivery" name="delivery-method" value="30.000" class="form-check-input" )
                      label(for="standard-delivery" class="mt-2") Giao hàng tiêu chuẩn 
                        div(class="delivery-content")
                          span(class="text-date") 30 - 40 phút
                          span(class="text-price") 30.000đ
                  .col-4
                    .form-check.mb-2
                      input(type="radio" id="fast-delivery" name="delivery-method" value="50.000" class="form-check-input" )
                      label(for="fast-delivery" class="mt-2") Giao hàng hỏa tốc
                        div(class="delivery-content")
                          span(class="text-date") 15-25 phút
                          span(class="text-price") 50.000đ
          if(user)        
            .row.mt-3
              .col-12
                div(class="voucher-section bg-white rounded p-15 mb-10")
                  .d-flex.justify-content-between.align-items-center
                    .voucher-label
                      img(src="/uploads/icon-voucher.png" alt="Voucher" class="mr-2")
                      span.font-weight-bold Food voucher
                    span.font-weight-bold.code-voucher
                    .voucher-action
                      button(class="btn-voucher" data-bs-toggle="modal" data-bs-target="#voucherModal") Chọn Hoặc Nhập Mã        
        .col-5
          div(class="order-review bg-white rounded p-15 mb-10")
            div(class="entry-order-review mb-0 ")
              h4(class="title-checkout color-black")
                b Giỏ hàng
              if(cartDetail)
                each cart in cartDetail.products
                  div(class="product-element-top  py-10 space-5" data_id=cart.product_id)        
                    .col-3.col-md-2
                      div(class="position-relative rti-100")
                        a(href=`/detail/${cart.productInfo.slug}`)
                          img(class="img-fluid rti-abs-cover " src=cart.productInfo.thumbnail) 
                    .col-9.col-md-10
                      div(class="top-name-right")
                        div(class="name-element font-weight-bold")
                          a(href=`/detail/${cart.productInfo.slug}`) #{cart.productInfo.title}
                        div(class="quantity") Số lượng: <strong>#{cart.quantity}</strong>
                        div(class="price-quantity")
                          span(class="price-amount1 mx-0")
                            |#{cart.productInfo.totalPrice.toLocaleString('vi-VN')}
                            span(class="currency-symbol") đ
              else  
                div(class="product-element-top  py-10 space-5" data_id=product.id)        
                    .col-3.col-md-2
                      div(class="position-relative rti-100")
                        a(href=`/detail/${product.slug}`)
                          img(class="img-fluid rti-abs-cover " src=product.thumbnail) 
                    .col-9.col-md-10
                      div(class="top-name-right")
                        div(class="name-element font-weight-bold")
                          a(href=`/detail/${product.slug}`) #{product.title}
                        div(class="quantity") Số lượng: <strong>#{product.quantity || 1}</strong>
                        div(class="price-quantity")
                          span(class="price-amount1 mx-0")
                            |#{product.priceNew.toLocaleString('vi-VN')}
                            span(class="currency-symbol") đ
          div(class="payment-method mb-10 bg-white rounded p-15 mt-2 form-group")
            div(class="d-flex justify-content-between unit-price")
              span Đơn giá
              span(class="text-right price-amount1 mb-1")
                |#{product ? product.priceNew.toLocaleString('vi-VN') : cartDetail.totalPrice.toLocaleString('vi-VN')}
                span(class="currency-symbol") đ
            div(class="d-flex justify-content-between mb-1 discount-voucher")
            div(class="d-flex justify-content-between mb-1 shipping-fee-container")
              span Phí vận chuyển
              span(class="text-right price-amount1")
                span(class="currency-symbol") đ
            div(class="separation-dash mt-3 mb-3")
            div(class="d-flex justify-content-between mb-15 total-price")
              span Thành tiền
              span(class="text-right price-amount1")
                |#{product ? product.priceNew.toLocaleString('vi-VN') : cartDetail.totalPrice.toLocaleString('vi-VN')}
                span(class="currency-symbol") đ
            button(class="bg-main btn btn-1a color-white rounded py-10 px-20 w-100 mt-2 mb-2") Thanh toán
            a(href="/order/cart-info" class="color-main ") 
                <i class="fa-solid fa-arrow-left mr-2"></i>
                |Quay lại giỏ hàng
    .modal.fade#voucherModal(tabindex='-1' aria-labelledby='voucherModalLabel' aria-hidden='true')
      .modal-dialog
          .modal-content
              .modal-header
                h5.modal-title#voucherModalLabel Chọn Voucher
                button.close(type='button' data-bs-dismiss='modal' aria-label='Close') &times;
              .voucher-error-container.hidden
                .voucher-error-title Mã Voucher Không Hợp Lệ
                .voucher-error-message Rất tiếc, mã voucher bạn vừa nhập không tồn tại hoặc đã hết hạn.
                button.voucher-error-close Đóng
              .input-section
                input#voucher-input(type='text' placeholder='Nhập mã voucher tại đây')
                button#save-btn Lưu
              .modal-body
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Hủy
  div(id="notification" class="hidden" data-time=5000) Đã thêm playlist vào thư viện
  script(src="/js/checkout.js") 