extend ../../layouts/default 

block main     
    .container.mt-3.mb-5         
        //- .voucher-header Kho Voucher Của Tôi         

        .voucher-error-container.hidden
            .voucher-error-title Mã Voucher Không Hợp Lệ
            .voucher-error-message Rất tiếc, mã voucher bạn vừa nhập không tồn tại hoặc đã hết hạn.
            button.voucher-error-close Đóng

        .input-section             
            input#voucher-input(type='text' placeholder='Nhập mã voucher tại đây')             
            button#save-btn Lưu                       
        
        .row.vouchers             
            if vouchers.length < 1                 
                .no-voucher-container                     
                    p.no-voucher-text Bạn chưa có voucher nào. Hãy tìm kiếm và nhận ngay!              
            else                     
                each item in vouchers                     
                    .col-md-4.mb-3                         
                        .voucher-card                             
                            .voucher-left                                 
                                img(src='https://down-vn.img.susercontent.com/file/vn-11134004-7ras8-m4re2imocx9s72' alt='Voucher')                                 
                                span Toàn Ngành Hàng                             
                            .voucher-right                                 
                                a(href="/products")                                     
                                    span.use-now Dùng ngay &gt;                                 
                                .voucher-title Giảm #{item.discountValue.toLocaleString('vi-VN') }#{item.discountType=='percent' ? '%' : 'đ'}                                 
                                .voucher-details Giảm tối đa #{item.maxDiscountAmount.toLocaleString('vi-VN')}đ Đơn tối thiểu #{item.minOrderValue.toLocaleString('vi-VN')}đ                                 
                                .voucher-usage                                     
                                    .progress-bar                                         
                                        .progress-fill(style=`width: ${item.progress}%;`)                                     
                                    | Đã dùng #{item.progress}%                                                

    div(id="notification" class="hidden" data-time=5000) Đã thêm playlist vào thư viện
    script(src='/js/voucher.js')
