doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Thông tin đơn hàng
    link(rel="stylesheet", href="/css/orderinfo.css")
    link(rel="stylesheet", href="/css/nav.css")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
    include ../../partials/header
   
    .container.order.mt-3
      ul.nav.nav-tabs.mb-4
        each item in fillterStatus
          li.nav-item
            a.nav-link(href=`javascript:;` class=item.class button-status=item.status) #{item.name}


      //- Order 1
      if(orders.length>0)
        each order in orders
          .order-card
            .shop-info.d-flex.align-items-center
              .shop-name
                  .mr-2
                      i.fa-solid.fa-shop
                  | FOOD WEB
              .shop-actions
                  //- button.btn.btn-message.btn-sm.me-2 Nhắn tin
                  //- a.btn.btn-light.btn-sm(href="#") Xem Shop
              .ml-auto
                  span.status #{order.statusText}
            each product,index in order.products
              .product-details.d-flex.align-items-center
                  img.product-image.mr-3(src=product.productInfo.thumbnail, alt=product.productInfo.title)
                  .flex-grow-1
                      h6 #{product.productInfo.title}
                      p.quantity.mb-0 Số lượng: #{order.products[index].quantity}
                  .price #{(order.products[index].quantity*order.products[index].priceNew).toLocaleString('vi-VN')}đ
            .action-buttons
                .total-price.mb-3
                    span.total-label.mr-1 Thành tiền:
                    span.price #{order.totalPrice.toLocaleString('vi-VN')}đ
                button.btn.btn-success.mr-2 MUA LẠI
                if(order.deleted!=true)
                  button.btn.btn-outline-danger(data-id=order.id button-order-delete) HỦY ĐƠN HÀNG
      else
        .empty-orders
          i.bi.bi-bag-x
          h3 Bạn chưa có đơn hàng nào
          //- if()
            p Hãy khám phá các sản phẩm của chúng tôi và đặt hàng ngay!
            a.shop-now-btn(href="/products")
              i.bi.bi-cart-plus
              |  Mua sắm ngay
      

    div(id="notification" class="hidden" data-time=5000)               
    form(action="", method="post" id="form-delete-order" data-path=`/user/order/delete`) 
    script(src="/js/user.js")